<footer class="">
    <div class="row footer">
        <div class="col justify-content-center">
            <img src="https://affrankstorage.blob.core.windows.net/contsinerfrank/images/LOGO.jpg" alt="logo" class="logo">
        </div>
        <div class="col text-center">
            <h4 class="normal-text text-white py-2">Contatti</h4>
            <a href="mailto:callmefrank2563@gmail.com">callmefrank2563@gmail.com</a>
        </div>
        <div class="col text-center">
            <h4 class="normal-text text-white py-2">Pagine</h4>
            <ul id="primary-navigation" data-visible="false" class="navbar-nav primary-navigation flex">

                <li class="nav-item active">
                  <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">VIDEO</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link" routerLink="/foto" routerLinkActive="active">FOTO</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/contattami" routerLinkActive="active">CONTATTAMI</a>
                </li>
      
              </ul>
        </div>
        <div class="col text-center social">
            <h4 class="text-white pb-4">Social</h4>
            <a href="https://www.instagram.com/a.f.frank/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>