body {
	background: #100e17;
	margin-top: 3rem;
}

h1 {
	color: #fff;
	font-size: 26px;
	text-align: center;
}
.scrollable-card-grid {
	scrollbar-color: #201c29;
	scrollbar-width: 10px;
	scrollbar-gutter: always;
	padding: 3rem;
	display: -webkit-box;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.scrollable-card {
	min-width: 300px;
	min-height: 350px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #17141d;
	box-shadow: -1rem 0 3rem #000;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	margin: 0;
	&:hover {
		-webkit-transform: translateY(-1rem);
		transform: translateY(-1rem);
		cursor: pointer;
		~ .scrollable-card {
			-webkit-transform: translateX(130px);
			transform: translateX(130px);
		}
	}
	&:not(:first-child) {
		margin-left: -130px;
	}
}

.card-header {
	h2 {
		color: #fff;
		font-size: 20px;
		margin: .25rem 0 auto;
	}
}


::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
background: black; 
}
::-webkit-scrollbar-thumb {
background:#454545; 
border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
background: grey;
}
