<div class="sfondo">
    
    <!-- <header>
        <nav>
            <h3 class="nav-item" id="logo" routerLink="/home" routerLinkActive="active">CallMeFrank</h3>
            <h4 class="nav-item" routerLink="/portfolio" routerLinkActive="active">VIDEO</h4>
            <h4 class="nav-item">FOTO</h4>
            <h4 class="nav-item">CONTATTAMI</h4>
            <a class="nav-item" href="https://www.instagram.com/callmefr4nk" target="_blank"><i
                    class="bi bi-instagram"></i></a>
        </nav>
    </header> -->
    <section>
        <div class="hero">
            <img class="foto-home" src="https://affrankstorage.blob.core.windows.net/contsinerfrank/images/Frank3.jpg" alt="sfondo">
            <h1 class="headline animate__animated animate__backInDown"><b><img src="https://affrankstorage.blob.core.windows.net/contsinerfrank/images/firma.png" style="filter: invert(100%);" alt=""></b></h1>
            <h4 class="headline animate__animated animate__backInDown" style="font-style: italic; padding: 90px;">
                VIDEOMAKER</h4>
        </div>
    </section>
</div>

<div class="slider"></div>