*, *::before, *::after{
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700|Plaster);

body{
  margin:0;
  color:#E5DADA;
  overflow-x: hidden;
  font-family:'Fira Sans', sans-serif;
  background-color:black;
}

*{
  box-sizing: border-box;
}

.col{
  width: 100%;
}

.vote{
  display: flex;
}

a{
  color: #454545;
  text-decoration: none;
}

a:hover, h5:hover{
  color: yellow;
  text-decoration: underline;
}

.video-page{
  width:100%;
  margin:auto;
  min-height:100vh;
  margin-bottom:50px;
  .video-page-header{
    width:100%;
    min-height:600px;
    position:relative;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
    display:flex;
    &:before{
      content: "";
      background: url(https://images.gr-assets.com/books/1348134701l/129984.jpg);
      background-size: cover;
      background-position:center;
      position: absolute;
      top: 0;
      height: 98%;
      filter: blur(8px);
      width: 100%;
      z-index: -1;
    }
    .video-description{
      width:100%;
      max-width:1000px;
      margin:auto;
      display:flex;
      .header-left{
        width:40%;
        min-width:250px;
        display:flex;
        flex-direction:column;
        img {
          border-radius:0.25rem;
          width:20rem;
          object-fit:cover;
        }
        .my-list{
          border-radius: 0.25rem;
          padding: 10px 15px;
          display: flex;
          align-items:center;
          cursor:pointer;
          transition: all .5s;
          border: 2px solid #E5DADA;
          margin-top:20px;
          text-transform:uppercase;
          width: 120px;
          &:hover{
            background-color:#E59500;
          }
          i {
            margin-right:10px;
          }
        }
      }
      .header-right{
         width:60%;
         display:flex;
         flex-direction:column;
         justify-content:center;
         h1
          {
            margin-bottom:0;
          } 
          h2 {
            font-size:20px;
            margin:0;
            padding:0;
            span {
              margin-left:10px;
              color:#454545;
              font-weight:bold;
            }
          }
          p {
            color:#888888;
          }
          .info {
            display:flex;
            align-items:flex-end;
            color: #454545;
            h4, h5{
              margin:0;
              font-size:18px
            }
            h5 {
              font-weight:normal;
              margin-left:10px;
            }
          }
          .rating{
            width:40px;
            border-radius: 0.25rem;
            margin-bottom:20px;
            padding: 5px 10px;
            background-color: rgba(132, 0, 50, 0.8);
          }
      }
    }
  }
  .streaming-container{
    width:100%;
    height: 100vh;
    max-width:1000px;
    margin:10px auto 40px auto;
    position:relative;
    video {
      width:100%;
      height: 100%;
    }
    &:after{
      content:"";
      top:0;
      position:absolute;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.6);
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid yellow;
}

.nav-item{
  align-items: center;
  margin-left: 5%;
}

.nav-link{
  color: yellow
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}
