<!-- <div class="">
    <div class="row content">
        <div class="col img">
            <img [src]=this.portfolioservice.videoimg id="img">
            <h3 class="title"><b>{{this.portfolioservice.title}}</b></h3>
        </div>
        <div class="col">
            <video [src]=this.portfolioservice.vsrc controls muted></video>
        </div>
    </div>
</div>

<div class="container">
    <h1>GUARDA ANCHE</h1>
    <div class="scrollable-card-grid">
      <div *ngFor="let video of AllVideos">
          <div class="scrollable-card" (click)="GetSrc(video)" style="background: url({{video.src}}); background-size: cover; background-repeat: no-repeat;">
            <div class="card-header">
                <h2>{{video.title}}</h2>
              </div>
              <div class="card-body">
                  
              </div>
          </div>
      </div>
    </div>
</div> -->

<body>
    <div class="video-page">
        <div class="video-page-header">
            <div class="video-description">
                <div class="header-left">
                    <img [src]=this.portfolioservice.videoimg>
                </div>
                <div class="header-right">
                    <h1>{{this.portfolioservice.title}}</h1>
                    <h2>{{this.portfolioservice.date}}<span>2h05</span></h2>
                    <p>Descrizione del video</p>
                    <div class="rating">8.9</div>
                    <div class='info'>
                        <h4>Regia e montaggio</h4>
                        <h5>{{this.portfolioservice.direct}}</h5>
                    </div>
                    <div class='info' *ngIf="this.portfolioservice.colorist">
                        <h4>Colorist: </h4>
                        <a href="{{this.portfolioservice.colorist}}"><h5>{{this.portfolioservice.colorist}}</h5></a>
                    </div>
                    <div class='info' *ngIf="this.portfolioservice.others">
                        <h4>3D Artist:</h4>
                        <a href="{{this.portfolioservice.others}}"><h5>{{this.portfolioservice.others}}</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="streaming-container card">
                <video [src]=this.portfolioservice.vsrc controls muted style="width: 100%; height: 50%;"></video>
            </div>
        </div>

        <!-- <div class="comments-container">
            <h1>Comments</h1>
            <div class="one-comment">
                <img class="profile-img"
                    src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
                <div class='comment-content'>
                    <h4>Alicia<span>1 month ago</span></h4>
                    <p>Great movie ! </p>
                </div>
            </div>
            <div class="one-comment">
                <img class="profile-img"
                    src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1631&q=80">
                <div class='comment-content'>
                    <h4>John<span>2 month ago</span></h4>
                    <p>Great movie ! </p>
                </div>
            </div>
            <div class="add-comment">
                <img class="profile-img"
                    src="https://images.unsplash.com/photo-1502292754603-a0891e807332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80">
                <div class="submit-comment">
                    <input type="text" placeholder="Add Comment">
                    <div class="submit">Comment</div>
                </div>
            </div> 
        </div>-->
         <app-scroll-cards></app-scroll-cards>
    </div>
</body>