*, *::before, *::after{
    box-sizing: border-box;
}

// section{
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     display: flex;
//     align-items: center;
// }

// .slide-container{
//     display: flex;
//     overflow: scroll;
//     width: 200%;
// }

// .image-slider{
//     padding: .5rem;
//     width: 30rem;
//     white-space: nowrap;
// }

// ::-webkit-scrollbar{
//     display: none;
// }

// .slide-div{
//     width: 30rem;
//     white-space: nowrap;
// }

// .card{
//     background: none;
// }

// div.scrollmenu a {
//     display: inline-block;
//     color: white;
//     text-align: center;
//     padding: .5rem;
//     text-decoration: none;
//   }


// .img-slide{
//     position: relative;
//     width: 100%;
//     height: 30rem;
//     transition: .5s;
//     padding: 2rem;
//     object-fit: cover;
// }

// .img-slide:hover{
//     cursor: pointer;
// }

// .content{
//     margin: 2rem;
//     align-items: center;
//     text-align: center;
//     font-family: Georgia, serif;
//     display: grid;
//     grid-template-columns: 25% 75%;
// }

// .title{
//     color: white;
//     align-items: center;
//     justify-content: center;
// }

// h4{
//     align-items: center;
//     justify-content: center;
//     margin-left: 2rem;
// }


// video{
//     grid-column: 2;
//     width: 100%;
//     height: 35rem;
//     border: 0.1rem solid rgb(66, 66, 66);
// }

// .img{
//     grid-column: 1;
//     align-items: center;
// }

// #img{
//     padding: 2rem;
//     width: 100%
// }
// @media (max-width: 820px) {
//     .content{
//         grid-template-columns: 100%;
//     }

//     .img{
//         justify-content: center;
//         align-items: center;
//         width: 15rem;
//     }

//     .img-slide{
//         position: relative;
//         width: 10rem;
//         height: fit-content;
//         transition: .5s;
//         overflow-y: hidden;
//     }

//     video{
//         grid-column: 2;
//         width: 100%;
//         height: fit-content;
//         border: 0.1rem solid rgb(66, 66, 66);
//     }

// }

// h4{
//     color: white;
//     justify-content: center;
//     align-items: center;
// }

h1 {
	color: #fff;
	font-size: 26px;
	text-align: center;
}
.scrollable-card-grid {
	scrollbar-color: #201c29;
	scrollbar-width: 10px;
	scrollbar-gutter: always;
	padding: 3rem;
	display: -webkit-box;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.scrollable-card {
	min-width: 300px;
	min-height: 350px;
	padding: 1.5rem;
	border-radius: 16px;
	background: #17141d;
	box-shadow: -1rem 0 3rem #000;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	margin: 0;
	&:hover {
		-webkit-transform: translateY(-1rem);
		transform: translateY(-1rem);
		cursor: pointer;
		~ .scrollable-card {
			-webkit-transform: translateX(130px);
			transform: translateX(130px);
		}
	}
	&:not(:first-child) {
		margin-left: -130px;
	}
}

.card-header {
	h2 {
		color: #fff;
		font-size: 20px;
		margin: .25rem 0 auto;
	}
}


@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700|Plaster);

body{
  margin:0;
  color:#E5DADA;
  overflow-x: hidden;
  font-family:'Fira Sans', sans-serif;
  background-color:black;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
background: black; 
}
::-webkit-scrollbar-thumb {
background:#454545; 
border-radius:3px;
}
::-webkit-scrollbar-thumb:hover {
background: grey;
}

*{
  box-sizing: border-box;
}

.video-page{
  width:100%;
  margin:auto;
  min-height:100vh;
  margin-bottom:50px;
  .video-page-header{
    width:100%;
    min-height:600px;
    position:relative;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
    display:flex;
    &:before{
      content: "";
      background: url(https://images.gr-assets.com/books/1348134701l/129984.jpg);
      background-size: cover;
      background-position:center;
      position: absolute;
      top: 0;
      height: 98%;
      filter: blur(8px);
      width: 100%;
      z-index: -1;
    }
    .video-description{
      width:100%;
      max-width:1000px;
      margin:auto;
      display:flex;
      .header-left{
        width:40%;
        min-width:250px;
        display:flex;
        flex-direction:column;
        img {
          border-radius:0.25rem;
          width:20rem;
          object-fit:cover;
        }
        .my-list{
          border-radius: 0.25rem;
          padding: 10px 15px;
          display: flex;
          align-items:center;
          cursor:pointer;
          transition: all .5s;
          border: 2px solid #E5DADA;
          margin-top:20px;
          text-transform:uppercase;
          width: 120px;
          &:hover{
            background-color:#E59500;
          }
          i {
            margin-right:10px;
          }
        }
      }
      .header-right{
         width:60%;
         display:flex;
         flex-direction:column;
         justify-content:center;
         h1
          {
            margin-bottom:0;
          } 
          h2 {
            font-size:20px;
            margin:0;
            padding:0;
            span {
              margin-left:10px;
              color:#454545;
              font-weight:bold;
            }
          }
          p {
            color:#888888;
          }
          .info {
            display:flex;
            align-items:flex-end;
            color: #454545;
            h4, h5 {
              margin:0;
              font-size:18px
            }
            h5 {
              font-weight:normal;
              margin-left:10px;
            }
          }
          .rating{
            width:40px;
            border-radius: 0.25rem;
            margin-bottom:20px;
            padding: 5px 10px;
            background-color: rgba(132, 0, 50, 0.8);
          }
      }
    }
  }
  .streaming-container{
    width:100%;
    max-width:1000px;
    margin:0 auto 40px auto;
    position:relative;
    img {
      width:100%;
    }
    &:after{
      content:"";
      top:0;
      position:absolute;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.6);
    }
    .streaming-play{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size:70px;
      z-index:2;
      color: #454545;
      i {
        cursor:pointer;
        transition: all .5s;
        &:hover{
          color:#E5DADA;
        }
      }
    }
  }
  .comments-container{
      width:100%;
      max-width:1000px;
      margin:auto;
      border-top: 2px solid #454545;
      h1 {
        font-size:25px;
        margin-bottom:30px;
        color: #454545;
        font-weight: normal;
      }
     .profile-img {
          width:50px;
          height:50px;
          border-radius:0.25rem;
          object-fit:cover;
        }
      .one-comment{
        display: flex;
        margin-bottom:20px;
        .comment-content{
          margin-left:10px;
          padding-top:5px;
          h4 {
            margin:0;
            span{
              color: #454545;
              margin-left:10px;
            }
          }
          p {
            margin: 0;
            margin-top:10px;
            color: #888888;
          }
        }
      }
    .add-comment{
      display:flex;
      .submit-comment{
        margin-left:10px;
        display:flex;
        flex-direction: column;
        flex-grow:1;
        input {
          background:transparent;
          border:0;
          border-bottom: 1px solid #454545;
          font-family:'Fira Sans', sans-serif;
          font-size:15px;
          color: #E5DADA;
          padding: 5px 0;
          transition: all .5s;
          &:focus{
            border-bottom: 1px solid #E5DADA;
            outline:none;
          }
        }
        .submit{
            font-size:15px;
            padding: 5px 10px;
            border-radius:0.25rem;
            align-self:flex-end;
            cursor:pointer;
            color: #888888;
            transition: all .5s;
            &:hover{
              color: #E59500;
            }
        }
      }
    }
   }
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}
