<div class="content">
    <div class="col">
        <div class="row">
            <div class="contatti col">
                <h4>Contattami per eMail al seguente indirizzo: <a  href="mailto:callmefrank2563@gmail.com">callmefrank2563@gmail.com</a></h4>
            </div>
        </div>
        
        <h4>Oppure contattami su instagram seguendo il link: </h4>
        <div class="">
            <a href="https://www.instagram.com/a.f.frank/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i>@a.f.Frank</a>
        </div>
    </div>
    <div class="col">
        <img src="https://affrankstorage.blob.core.windows.net/contsinerfrank/images/Frankprofilo.jpg">
    </div>
</div> 